
.playwrite-hu {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: #ef6768;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.fresca-regular{
  font-family: "fresca", sans-serif;
  font-weight: 500;
  font-style: oblique;
  font-size: larger;
  color: #ef6768;
}

.navbarmenu{
 color: #ef6768;
 font-size: large;
 text-decoration: underline;
}

.textblanco{
 color: #ffffff;
 font-size: large;
 text-decoration: underline;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

.old-standard-tt-regular-rosaoscuro {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ef6768;
}

.old-standard-tt-regular-rosaoscuro-left {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ef6768;
}

.old-standard-tt-regular-left {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

.old-standard-tt-regular-pink-left {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #ef6768;
}

.old-standard-tt-regular-black-left {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: black;
}

.old-standard-tt-regular-pink-right {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  color: #ef6768;
}

.old-standard-tt-regular-white-left {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.old-standard-tt-regular-white-right {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  color: #ffffff;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
   color: #ef6768;
}

.old-standard-tt-bold2 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
   color: #ffffff;
   margin-left: 100px;
   padding-top: 60px;
   font-size: 50px;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}

.croissant{
    text-align: center;

}

.inmargin{
margin-left: 30px;
margin-right: 30px;
}

.parrafo{
     font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-size: 18px;
}

.fondo_azul{
    background-color: #106eea;
}

#top_bar{
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

i{
    margin-left: 5px;
    margin-right: 5px;
}

#menu{
    padding-top: 1px;
    padding-bottom: 1px;
}

#menu a{
    color: #222222;
}

#hero{
    background-image: url('../img/hero-bg.png');
    padding-top: 160px;
    padding-bottom: 160px;

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#hero2{
    background-image: url('../img/q&a.png');
    padding-top: 160px;
    padding-bottom: 160px;

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#contactanostitulo{
    background-color: #ffc4c8;
    padding-top: 50px;
    padding-bottom: 50px;

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.color_azul{
    color: #106eea;
}

#columnas1{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
}

#columnas2{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
}

#conoceapanecitos{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
}

.p_arribayabajo{
    padding-top: 100px;
    padding-bottom: 100px;
}

.sombras{
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sombras2{
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
}

.grande{
    font-size: 40px;
}
.grande_icono{
    font-size: 60px;
}

#contacto{
    background-color: #f7f5f5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.fondo_blanco{
      background-color: #fff;
}

.fondo-rosa{
  background-color: #ffc4c8;
}

.p_todo{
   padding: 30px;
}

.footer{
    color: #ffc4c8;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.footerwhite{
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.sectionqa {
    width: 48%; 
    margin-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

.footerpink{
  color: #ffc4c8;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}